:root{
    --main-green:#28A745;
    --main-blue:#0284D0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

.container{
    width: 1360px;
    margin: 0 auto;
}

.header {
    background-image: url('/img/header_city.jpg');
    width: 1360px;
    height: 768px;
    box-sizing: border-box;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}

.header_main{
    padding: 20px 46px;
}

.header_svg{
    width: 41px;
    height: 34px;
}

.header_green_text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #28A745;
}

.header_green_text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #28A745;
}

.header_white_text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
}

.header_main_text_logo{
    margin: 0;
}

.header_main_pos{
    display: flex;
}