:root{
    --main-green:#28A745;
    --main-blue:#0284D0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}


.footer{
    padding-top: 49px;
}

.footer-section__block{
    text-align: center;
}

.footer-section__head{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    margin-top: 16px;

    color: #333333;
}

.footer-section__text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 48px;

    margin-top: 16px;

    color: #333333;
}

.footer-section__item{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    margin-top: 34px;

    color: #333333;
}

.footer-section__list{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 45px;

    list-style: none;
}

.footer-list__head{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;

    color: #333333;

    margin-top: 13px;
}

.footer-list__text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    color: #333333;

    margin-top: 12px;
}

.footer-main{
    padding-top: 59px;

    display: flex;
}

.footer-main__block{
    background-color:#F4F4F4;
    width: 100%;
}

.footer-main__head{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 48px;

    margin-top: 78px;
    margin-left: 30px;

    color: #333333;
}

.footer-main__form{
    display: flex;
    flex-wrap: wrap;

    width: 620px;
    margin-left: 30px;
}

.footer-main__input:nth-child(1){
    margin-top: 34px;
    margin-bottom: 36px;
}

.footer-main__input:nth-child(2){
    margin-bottom: 60px;
}

.footer-main__input{
    width: 100%;
    height: 40px;

    border: 0
}

.footer-main__btn{
    width: 100%;
    height: 42px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;

    background-color: var(--main-green);
    border: 0;
    border-radius: 5px;
}

.footer-box{
    padding-top: 20px;
    padding-bottom: 16px;

    background-color: #333333;

    text-align: center;
}

.footer-box__list{
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;

    margin-bottom: 10px;
}

.footer-box__item:not(:last-child){
    margin-right: 25px;
}

.footer-box__text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    color: #FFFFFF;
}






.container{
    width: 1360px;
    margin: 0 auto;
}

.header {
    background-image: url('../img/header_city.jpg');
    width: 1360px;
    height: 768px;
    box-sizing: border-box;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}

.header_main{
    padding: 20px 46px;
}

.header_svg{
    width: 41px;
    height: 34px;
}

.header_green_text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #28A745;
}

.header_green_text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #28A745;
}

.header_white_text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
}

.header_main_text_logo{
    margin: 0;
}

.header_main_pos{
    display: flex;
}


.bc{
    padding-top: 50px;
    /* width: 1400px;   */
    justify-content: center;
    
}

.bc-center{
    text-align: center;
}

.font-400{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;   
    
    margin-bottom: 15px;
}

.font-300{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;

    margin-bottom: 38px;
}

.bc-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-left: 28px;
    margin-right: 28px;
    margin-top: 39px;
}
.bc-photo{
    margin-right: 8px;
    margin-bottom: 7px;
}

.bc-hero{
    margin-top: 47px;

    display: flex;
}

.bc-text-hero{
    background-color: var(--main-blue);
    width: 680px;
    height: 517px;

    color: #fff;
}

.bc-margin{
    margin-top: 112px;
    margin-left: 30px;
}

.bc-btn{
    padding: 11px 30px;
    margin-top: 17px;

    outline: 1px solid #fff;
    border-radius: 5px;

    text-decoration: none;
    color: #fff;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}


